#six {
    background-image: url(/assets/images/background-dog.jpg);
    padding: 160px 25px;
    background-size: cover;
    position: relative;

}

#six::before {
    content: '';
    position: absolute;
    display: block;
    background-color: rgba(242, 194, 32, 0.8);
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

#six .container {
    max-width: 1200px;
    align-content: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

#six .container div {
    display: block;
    text-align: center;

}

#six .container div a {
    font-size: 80px;
    color: #ffffff;
}

#six .container div p {
    font-size: 42px;
    color: #ffffff;
    font-weight: 500;
    font-family: "poppinsregular";
    text-align: center;
}

#six .container div h3 {
    font-size: 38px;
    color: #ffffff;
    font-weight: 700;
    font-family: "poppinsregular";
    text-align: center;
}